$bodyText: "Lato", sans-serif;
$titleText: "Titillium Web", sans-serif;

$bgColor: #1d0c15;
$accentPurple: #b76698;
$accentGreen: #dbfe87;
$lightGray: #a7adc6;
$darkGray: #8797af;
$accentYellow: #ffe381;
$accentNavbarColor: #472c39;

$gutter: 16px;
